body
{
	margin: 0;
	padding: 0;
	color: #333;
	#font-family: Georgia,Serif;
	font-family: Roboto,"Helvetica Neue","Helvetica",Arial,"San-serif";
    line-height: 18px;
    #font-family: 'Proxima Nova', Helvetica, sans-serif;
    background: #f4f4f4;
    font-size: 16px;
}
ul{
    margin: 0;
    padding: 0;
}
ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #07e;
}
a:hover{
    color: #42D0DB;
    text-decoration: underline;
  }
#header{
    position: fixed;
    z-index: 999;
    left: 0;
    right: 0;
    top: 0;
}
#main-body{
    min-height: 200px;
}
.wrr-header{
    overflow: hidden;
}
.wr-menu{
    height: 45px;
}
.wrr-banner-top{
    padding: 20px 0;
    overflow: hidden;
}
#logo{
    float: left;
    margin-left: 10px;
}
.logo{
    height: 45px;
    float: left;
}
.logo img{
    margin-top: 7px;
}
.logoimg{
    width: 242px;
    height: 61px;
    background: #fff url(../images/logo.png) no-repeat center center;
    display: inline-block;
    text-indent: -10000px;
}
.col-3{
    width: 30%;
    float: left;
}
.col-7{
    width: 70%;
    float: left;
}
.col-52{
    width: 52%;
    float: left;
}
.col-32{
    width: 32%;
    float: left;
}
.col-16{
    width: 16%;
    float: left;
}
.col-33{
    width: 33.3%;
    float: left;
    min-height: 100px;
}
.col-34{
    width: 34%;
    float: left;
    min-height: 100px;
}
.col-66{
    width: 66%;
    float: left;
    min-height: 100px;
}
.col-60{
    width: 60%;
    float: left;
    min-height: 100px;
}
.col-40{
    width: 40%;
    float: left;
    min-height: 100px;
}
.wr-col-r,
.wr-col-c{
    padding: 10px;
}
header{
}
#menu{
    border-bottom: 5px solid #EEE;
    border-top: 5px solid #EEE;
    background: #42D0DB;
}
#logo h1{
    margin: 0
}
.search .wrr-search{
    padding: 8px 0;
}
.search .wrr-search form{
    position: relative;
}
.search .wrr-search input[type="text"]{
    width: 70%;
    padding: 5px 0 5px 5px;
    outline: none;
    float: right;
}
.search .wrr-search input[type="submit"]{
    position: absolute;
    right: 0;
    top: -1px;
    background: url(../images/search.png) no-repeat center center;
    border: 0;
    width: 30px;
    height: 30px;
    text-indent: -1000px;
}
.wrr-page-content .col-66 .wr-col-c{
    padding: 10px;
}
ul.items-listview{
    margin: 0;
    padding: 0;
}
ul.items-listview .last_item{
    border-bottom: 0;
}
ul.items-listview>li{
    list-style-type: none;
    overflow: hidden;
    border-bottom: 1px solid #EEE;
    padding: 15px 0 15px 135px;
}
ul.items-listview li h2{
    margin-bottom: 5px;
    margin-top: 0;
}
ul.items-listview li h2 a{
    font-size: 16px;
    font-weight: normal;
    color: #333;
}
.column1 ul.items-listview li h2 a{
    font-weight: bold;
}
ul.items-listview li h2 a:hover{
    color: #42D0DB;
}
ul.items-listview li .wrr-thumb{
    padding-right: 15px;
    padding-top: 0;
    float: left;
}
ul.items-listview li .vil-thumb{
    float: left;
    margin-left: -135px;
}
ul.items-listview li .vil-info{
    font-size: 13px;
}
ul.items-listview li .vil-info .intro{
    font-size: 12px;
}
.see{
    display: block;
    background: #fff url(../images/see.png) no-repeat;
    width: 16px;
    height: 16px;
    padding-left: 20px;
}
.listview ul.items-listview-mini li .wrr-thumb{
    padding-right: 5px;
}
.listview ul.items-listview-mini li h1 a{
    font-size: 12px;
}
.nar-title{
    background-color: #fff;
}
.nar-title h1{
    font-size: 24px;
    border-bottom: 2px solid #ff4d29;
}
#media-player{
    height: 400px;
}
.description{
    font-size: 13px;
}
.clear{
    clear: both;
}
.btn{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-blue{
    background-image: -webkit-linear-gradient(top,#337ab7 0,#265a88 100%);
    background-image: -o-linear-gradient(top,#337ab7 0,#265a88 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#337ab7),to(#265a88));
    background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #245580;
}
.btn-blue {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-danger, .btn-default, .btn-info, .btn-blue, .btn-success, .btn-warning {
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
}
.btn2{
    padding: 8px 25px;
    background: #F48805;
    border: 1px solid #fff;
    border-radius: 0;
    text-transform: uppercase;
    display: inline-block;
}
.separator {
    margin: 0;
}
a.next, a.prev {
    font-size: 12px;
    color: #000;
    font-weight: bold;
    position: relative;
}
.pagination a:hover{
    border: 1px solid #888;
    box-shadow: 1px 2px 3px #ccc;
}
span.icon-arr{
    width: 7px;
    height: 12px;
    display: block;
    position: absolute;
}
span.icon-arr-r{
    background: transparent url(../images/arr-r.png) no-repeat center center;
    right: 10px;
    top: 10px;
}
span.icon-arr-l{
    background: transparent url(../images/arr-l.png) no-repeat center center;
    left: 10px;
    top: 10px;
}
.loadmore{
    width: 100%;
}
.wr-paging{
    text-align: center;
}
#footer .wrr-footer{
    padding: 10px;
    background: #f4f4f4;
    border-top: 1px solid #ccc;
    overflow: hidden;
    height: 25px;
    font-size: 12px;
}
.wrr-footer .wr-ftl
{
    float: left;
}
.wrr-footer .wr-ftr{
    float: right;
}
ul.op{
    margin:0;
}
ul.op li{
    display: inline-block;
}
ul.op li a{
    margin: 0 10px;
    color: #777;
}
ul.op li a:hover{
    text-decoration: underline;
}
.paging{
    background: #e6e6e6;
    padding: 8px 10px;
    text-align: center;
}
.paging .yiiPager{
    margin: 0;
    padding: 0;
}
.paging .yiiPager li{
    display: inline-block;
}
.paging .yiiPager li a{
    display: block;
    padding: 6px 10px;
    color: #333333;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border: 0;
    background: #fff;
    margin: 0 1px;
    font-weight: bold;
}
.paging .yiiPager li a:hover,
.paging .yiiPager li.selected a{
    background: #00A8FF;
    color: #fff;
}
.extra-info{
    margin-bottom: 20px;
    margin-top: 10px;
}
.author{
    font-size: 11px;
}
.author-name{
    color: #2F61AE;
    font-weight: bold;
}
.pos{
    position: relative;
    min-height: 25px;
}
.pos-r{
    position: absolute;
    right: 0;
}
.pos-l{
    position: absolute;
    left: 0;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
ul.social-share,
ul.social-like{
    margin: 0;
    padding: 0;
}
.social-share li,
ul.social-like li{
    display: inline-block;
}
.share-info{
    margin-bottom: 10px;
}
.share-twitter{
    width: 80px;
}
/*css for mobile*/
@media (min-width: 0px) and (max-width: 600px)  {
    .col-f{
        width: 100%;
    }
    .col-hide{
        display: none;
    }
}
#sb-mn{
    display: none;
 }
@media only screen and (min-device-width: 240px) and (max-device-width: 568px){
    /* Styles */
    .mobile-screen .wrr-s{
        width: 100%
    }
    .mobile-screen .items-listview .video-item-list .col-60{
        width: 40%
    }
    .mobile-screen .items-listview .video-item-list .col-40{
        width: 58%
    }
    .col-f{
        width: 100%;
    }
    .col-hide{
        display: none;
    }
    .mobile-screen #menu{
        position: fixed;
        right: 0;
        top: 46px;
        bottom:0;
        background: #333;
        display: none;
    }
    .mobile-screen #menu ul li{
        float: none;
        border-bottom: 1px solid #3C3C3C;
    }
    .mobile-screen #menu ul li a{
        padding-right: 50px;
    }
    .mobile-screen #sb-mn{
        display: block;
    }
    .mobile-screen #menu ul li a.active{
        border-bottom: 0;
        background: none;
        font-weight: normal;
    }
}
/*css for mobile*/
.show{
    display: block!important;
}
.icon{
    background: url(../images/icons.png) no-repeat;
    display: block;
    width: 12px;
    height: 12px;
    margin: 3px 5px 0 0;
    float: left;
}
.meta-small li{
    display: inline-block;
}
.meta-small a{
    color: #aaa;
    font-size: 10px;
}
.author-icon{
    background-position: 0 0;
}
.views-icon{
    background-position: 0 -40px;
}
.comments-icon{
    background-position: 0 -27px;
}
.time-icon{
    background-position: 0 -14px;
}
.listview h3.title{
    margin: 0;
    background: #F7922F;
    padding: 5px;
    color: #fff;
    margin-bottom: 10px;
}
.vil-info .author{
    max-width: 130px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
._vertical ul.items-listview>li{
    padding: 0;
    margin-bottom: 15px;
    border-bottom: 0;
}
._vertical ul.items-listview li .vil-thumb{
    margin: 0;
    float: none;
}
._vertical ul.items-listview li .wrr-thumb{
    float: none;
    padding-right: 0;
}
._vertical ul.items-listview li .wrr-thumb img{
    width: 100%;
}
._vertical ul.items-listview li h2{
    margin-top: 10px
}
._image ul.items-listview>li{
    margin-bottom: 15px;
}
.post{
    font-weight: 400;
    font-style: normal;
    line-height: 1.7em;
    color: #555;
    padding: 0;
    overflow: hidden;
}
#wrr-main{
    width: 1020px;
    margin: 0 auto;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 5px 0px rgba(50,50,50,0.15);
    background: #fff;
}
.home{
    width: 28px;
    height: 45px;
    background: transparent url(../images/home_white.png) no-repeat center center;
    text-indent: -10000px;
}
/*Menu*/
ul.main-nv{
    margin: 0;
    padding: 0;
}
ul.main-nv > li{
    float: left;
}
ul.main-nv li a{
    font-family: 'Oswald';
    display: block;
    padding: 0 15px;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    line-height: 45px;
    text-transform: uppercase;
}
ul.main-nv > li > a.active,
ul.main-nv > li > a:hover{
    color: #fff;
	background: #80C100;
}
ul.main-nv li a.home.active,
ul.main-nv li a.home:hover{
    background: #f9f9f9 url(../images/home.png) no-repeat center center;
    color: #0076A3;
}
.post .title h1{
    line-height: 35px;
}
.dropdown,
.flyout {
    position: relative;
}
/*.dropdown:after {
    content: "\25BC";
    font-size: .5em;
    display: block;
    position: absolute;
    top: 38%;
    right: 12%;
}*/
.drop-nav,
.flyout-nav {
    position: absolute;
    display: none;
    background: #42D0DB;
    top: 45px;
    box-shadow: 2px 1px 3px #ccc;
}
.drop-nav li a {
    border-bottom: 1px solid rgba(255,255,255,.2);
}
.drop-nav li a:hover{
    background: #fff;
    color: #42D0DB;
}
.dropdown:hover > .drop-nav,
.flyout:hover > .flyout-nav {
    display: block;
}
.flyout-nav {
    left: 100%;
    top: 0;
}
ul.main-nv li ul li{
    min-width: 200px;
}

.search{
    line-height: 46px;
    height: 46px;
}
.search input{
    border-radius: 3px;
    padding: 6px;
    border: 1px solid #ccc;
    color: #333;
}
.search button{
    width: 30px;
    height: 30px;
    background: url(../images/search.png) no-repeat;
    border: 0;
    text-indent: -10000px;
}
.separator{
    background: rgba(255,255,255,.2);
    width: 1px;
    height: 26px;
    display: block;
    margin: 10px 0;
}
/*breadcrumb*/
.breadcrumbs{
    padding: 5px;
}
.breadcrumbs ul li{
    display: inline;
}
.breadcrumbs li a,
.breadcrumbs span{
    font-size: 11px;
}
.breadcrumbs li a:hover{
    text-decoration: underline;
}
.br-arr{
    display: inline-block;
    width: 6px;
    height: 10px;
    background: url(../images/dv_br.gif) no-repeat center center;
    vertical-align: middle;
}